* {
    box-sizing: border-box;
    font-family: 'Orbit', sans-serif;
    padding: 0;
    

}
body {
    background-color: white;
}

.container {
  display: grid;
  grid-template-columns: 200px 300px 200px;
  grid-gap: 0px;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 120vh;
  background-color: aquamarine;
  margin: 250px;
}

    /* background-color: rgb(27, 155, 155);
    /* display: grid;
    grid-template-columns: 300px, 200px, 200px;
    grid-gap: 0px;
    justify-content: center;
    align-items: center; */
    /* height: 70vh;
    width: 90vw;
    max-width: 34em;
    top:50px;
    background-color: blue;
    position: absolute;
    left: 50px;
    top: 50%;
    font-size: 16px;
    transform: translate(-50%, -50%)
    padding: 3 em;
    border-radius: 0.7em  */

#options-container {
    text-align: center;
}

#options-container div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 1.2em 0 2.4em 0;
}

#options-container button {
padding: 0.6em 1.2em;
border: 3px solid black;
background-color: antiquewhite;
color:azure;
border-radius: 0.3em;
text-transform: capitalize;
cursor: pointer;
}

#options-container button:disabled {
    border: 3px solid black;
    color: grey;
    background-color: aliceblue;

}

#options-container button:active {
    background-color: blueviolet;
    border: purple;
    color:aliceblue;
}




h1 {
    font-size: 20px;
    text-decoration: aqua;
    text-align: center;
    position: relative;
    top: 10em;
    /* left: em; */
}



header {
font-size: 40px;
color: black;
text-align: center;
position: relative;
top: 5em;
left: 0em;
}

.letter-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.6em;
} 

#letter-container button {
    height: 2.4em;
    width: 2.4em;
    border-radius: 0.3em;
    background-color:white;
    cursor: pointer;

}

.new-game-popup {
    background-color:green;
    position: absolute;
    left: 0;
    top: 0;
    height: 1000%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 0.6em;
}

#new-game-button {
    font-size: 1.25em;
    padding: 0.5em 1em;
    background-color: purple;
    border: 3px, solid black;
    border-radius: 0.2em;
    color: white;
    cursor: pointer;
}



#input-box {
    display: flex;
    justify-content: center;
    font-size: 1.8em;
    margin: 0.6em 0 1.2em 0;
}

canvas {
    /* display: block; */
    margin: auto;
    /* border: 10px solid black; */
    /* border-radius: 10px; */
}

.hide {
    display: none;
}
#result-msg h2{
    font-size: 1.25em ;
    text-align: center;
}
#result-msg p {
    font-size: 1.25em;
    margin: 1em 0 2em 0;
}

#result-msg span {
    font-weight: 600;
}

.win-msg {
    color: green;
}
.lose-msg {
color: red;
}





/* #btn1 {
    font-size: 1.25em;
    padding: 0.5em 1em;
    background-color: grey;
    border-radius: 0.2em;
    cursor: pointer;
    border: 3px solid black;
    position: relative;
    bottom: 12em;
    left: 40em;
    
} */

/* #btn2 {
font-size: 1.25em;
padding: 0.5em 1em;
background-color: grey;
border-radius: 0.2em;
cursor: pointer;
border: 3px solid black;
position: relative;
bottom: 12em;
left: 35em;
}

.win {
    color: greenyellow;
}
.lose {
    color: red;
} */